*, ::after, ::before {
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background: #f0f0f0;
    margin: 0;
    font-family: Pacifico,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: .7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e1e1e;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#content {
    max-width: 1200px;
}

#background {
    position: relative;
}

#background img {
    width: 100%;
    border-radius: 1px;
    box-shadow: 0px 0px 3px grey;
}

.button {
    position: absolute;

    width: 12.5%;
    height: 15.3%;
    transition: opacity 250ms;
}

.button:hover {
    background-color: white;
    opacity: .15;
}

#n18 {
    right: 1.8%;
    top: 3.5%;
}

#n17 {
    right: 9%;
    top: 22%;
}

#n16 {
    right: 2%;
    top: 42%;
}

#n15 {
    right: 10%;
    top: 60%;
}

#n14 {
    right: 20.2%;
    top: 78%;
}
#n13 {
    right: 37.5%;
    top: 58%;

    width: 14.5%;
    height: 19.3%;
}
#n12 {
    right: 49%;
    top: 81%;
}
#n11 {
    right: 64%;
    top: 72%;
}